@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
.c{
    text-align:center;
}
#top{
    font-family: 'Bakbak One', cursive;
    text-align: center;
    font-size: 200%;
    margin-bottom:100px;
}
#t-1{
    font-family: 'Bakbak One', cursive;
    text-align: center;
    font-size: 35px;
    margin-bottom:10px;
}
#login{
    font-family: 'Bakbak One', cursive;
    text-align: center;
    font-size: 45px;
    border: 3px black solid;
    width: 25%;
    margin: 0 auto;
}
#login:hover{
    font-family: 'Bakbak One', cursive;
    text-align: center;
    font-size: 45px;
    border: 3px black solid;
    width: 25%;
    margin: 0 auto;
    color:white;
    background-color:black;
}
#c-1{
    margin-bottom:2%
}
.enter-creds-title{
    text-align:center;
    font-family: 'Bakbak One', cursive;
    font-size: 45px;
}
.cred-layer{
    border: 2px black solid;
    width: 30%;
    font-family: 'Bakbak One', cursive;
    font-size: 35px;
    padding: 5px;
}
.key{
    color:white !important;
    background-color:black;
    height:45px;
    font-size:35px;
}
.buttons{
    margin-top: 50px;
}
.button{
    padding-top: 5px;
    padding-bottom:5px;
    margin-bottom: 10px;
    width: 30%;
    border: 2px black solid;
    font-family: 'Black Ops One';
    font-size: 30px;
}
.button:hover{
    padding-top: 5px;
    padding-bottom:5px;
    margin-bottom: 10px;
    width: 30%;
    background-color: black;
    color:white;
    border: 2px black solid;
    font-family: 'Black Ops One';
    font-size: 30px;
}
.input input{
    padding-top: 5px;
    padding-bottom:5px;
    margin-bottom: 10px;
    width: 29.8%;
    border: 2px black solid;
    font-family: 'Black Ops One';
    font-size: 30px;
    border-radius: 0;
}
.input input::placeholder {
    color: black;
    opacity: 1;
  }
.input input:hover{
    background-color:black;
    color:white;
    padding-top: 5px;
    padding-bottom:5px;
    margin-bottom: 10px;
    width: 29.8%;
    border: 2px black solid;
    font-family: 'Black Ops One';
    font-size: 30px;
    border-radius: 0;
}
.input input:hover::placeholder {
    color: white;
    opacity: 1;
  }